@{
    ViewData["Title"] = "Cambio de Moneda";
}

<div class="text-center">
    <h1 class="display-4">Cambio de Moneda</h1>
    <p>Realiza tu Cambio Moneda </p>
</div>


<form method="post" asp-action="ConvertirMoneda">
    <div class="form-group  mt-2">
        <label for="tipoorigen">Elija la Moneda de origen</label>
        <select class="form-control" id="tipoorigen" name="TipoMonedaOrigen">
            <option value="USD">USD</option>
            <option value="PEN">PEN</option>
            <option value="BRL">BRL</option>
        </select>
    </div>
    <div class="form-group  mt-2">
        <label for="montoorigen">Monto de origen</label>
        <input type="number" class="form-control" id="montoorigen" name="MontoOrigen" />
    </div>
    <div class="form-group  mt-2">
        <label for="tipodestino">Elija la Moneda de destino</label>
        <select class="form-control" id="tipodestino" name="TipoMonedaDestino">
            <option value="PEN">PEN</option>
            <option value="USD">USD</option>
            <option value="BRL">BRL</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Convertir</button>
    <br/>
    <br/>
    <div class="form-group  mt-2">
        <label for="montodestino">Monto de destino</label>
        <input type="number" class="form-control" id="montodestino" name="MontoDestino" 
           value="@ViewData["MontoDestino"]" readonly />
    </div>
    

</form>
 <h1>@ViewData["Message"]</h1>